.btnFloors {
  position: absolute;
  left: 50%;
  align-items: center;
  top: 0;
  bottom: 0;
  &__btn {
    width: 40px;
    height: 30px;
    border: 1px dashed #000;
    border-radius: 5px;
    margin-right: 10px;

    cursor: pointer;

    &.active {
      animation: border 1s linear infinite;

      &::after {
        animation: border 1s linear infinite;
      }

      &::before {
        animation: back 1s linear infinite;
      }
    }

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #000;
      width: 10px;
      height: 10px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 1px solid #000;

      width: 15px;
      height: 15px;
    }

    @keyframes back {
      from {
        background-color: orange;
      }

      to {
        background-color: black;
      }
    }

    @keyframes border {
      from {
        border-color: orange;
      }

      to {
        border-color: black;
      }
    }
  }
}
